<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.dao.AdminMapper">

    <select id="querybyUserid" resultType="Admin">
        select
         `adminid`,
         `nickname`
         from admin
        where
        `enable`=0 and userid=#{userid}
    </select>


</mapper>