<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.dao.TrainingOrderMapper">


    <select id="queryForStutas" resultMap="order">
        select
         `orderid`,
         `locationid`,
         `status`,
         `date`
         from trainingorder
         where
        `date`<![CDATA[ >= ]]>#{begindate}
        and `date`<![CDATA[ <= ]]>#{enddate} and
        courseid IN(SELECT courseid FROM course WHERE
        coachid=#{coachid} AND `status`=2)
    </select>
    <resultMap id="order" type="TrainingOrder">
        <id javaType="java.lang.String" jdbcType="VARCHAR" property="orderid" column="orderid"></id>
        <result javaType="java.lang.String" jdbcType="VARCHAR" property="locationid" column="locationid"></result>
        <result javaType="java.lang.Integer" jdbcType="INTEGER" property="status" column="status"></result>
    </resultMap>

    <!--查询学员当天是否预约-->
    <select id="queryForTodayExist" resultType="TrainingOrder">
          select
        `orderid`  from trainingorder   where
         `courseid`=#{courseid}
          and `date`=#{date} and `status`=#{status}
    </select>

    <!--查询某天某个时间段的预约状态-->
    <select id="queryForExist" parameterType="TrainingOrder" resultType="TrainingOrder">
          select `status`,`orderid`  from trainingorder
          where  courseid IN(SELECT courseid FROM course WHERE
        coachid=#{coachid} AND `status`=2) and `date`=#{date} and `begintime`=#{begintime}
    </select>

    <!--插入单条数据-->
    <insert id="insertTrainingOrderOne" parameterType="TrainingOrder">
        insert  into trainingorder
      ( `orderid`,
        `date`,
        `begintime`,
        `endtime`,
        `locationid`,
        `courseid`,
        `status`
        )values (
            #{orderid},
            #{date},
            #{begintime},
            #{endtime},
            #{locationid},
            #{courseid},
            #{status}
        )
    </insert>

    <update id="updateTrainingOrderOne" parameterType="TrainingOrder">
        update  trainingorder
        set `courseid` = #{courseid},
             `status`=#{status}
        where `orderid`=#{orderid}
    </update>


    <!--查询学员当天预约订单详细信息-->
    <select id="queryForTodaydetail" resultMap="ordermap">
        select
        trainingorder.orderid,
        trainingorder.date,
        trainingorder.begintime,
        trainingorder.endtime,
        trainingorder.status,
        coach.name,
        coach.coachcar,
        course.licensetype,
        course.coursetype,
        course.subject
        from trainingorder
        INNER JOIN course ON trainingorder.courseid=course.courseid
        INNER JOIN coach ON course.coachid=coach.coachid
        where
        course.studentid=#{studentid} and course.status=2
        and trainingorder.date=#{date} and trainingorder.status in
        <foreach collection="statusarray" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!--查询学员历史订单数量-->
    <select id="queryForHistoryCount" resultType="java.lang.Integer">
       select count(*)  from
        trainingorder trainingorder
        where
        trainingorder.courseid in(select courseid from course where studentid=#{studentid} and status=2)
        and trainingorder.date<![CDATA[ < ]]>#{map.date} and trainingorder.status in
        <foreach collection="map.statusarray" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="queryHistoryOrder"  resultMap="ordermap" >
        select
        trainingorder.orderid,
        trainingorder.date,
        trainingorder.begintime,
        trainingorder.endtime,
        trainingorder.status,
        coach.name,
        course.coursetype,
        course.subject
        from trainingorder
        INNER JOIN course ON trainingorder.courseid=course.courseid
        INNER JOIN coach ON course.coachid=coach.coachid
        where
        course.studentid=#{studentid} and course.status=2
        and trainingorder.date<![CDATA[ < ]]>#{map.date} and trainingorder.status in
        <foreach collection="map.statusarray" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        limit #{map.currIndex} , #{map.pageSize}
    </select>

    <resultMap id="ordermap" type="TrainingOrder">
        <id  property="orderid" column="orderid"></id>
        <result property="date" column="date"></result>
        <result property="begintime" column="begintime"></result>
        <result property="endtime" column="endtime"></result>
        <result property="status" column="status"></result>
        <association property="course" javaType="Course">
            <result property="licensetype" column="licensetype"></result>
            <result property="coursetype" column="coursetype"></result>
            <result property="subject" column="subject"></result>
            <association property="coach" javaType="Coach">
                <result property="name" column="name"></result>
                <result property="coachcar" column="coachcar"></result>
            </association>
        </association>

    </resultMap>




</mapper>