<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.dao.TrainingOrderMapper">


    <select id="queryForStatus" resultMap="order">
        select
         `orderid`,
         `locationid`,
         `status`,
         `date`
         from trainingorder
         where
        `date`<![CDATA[ >= ]]>#{begindate}
        and `date`<![CDATA[ <= ]]>#{enddate} and
        courseid IN(SELECT courseid FROM course WHERE
        coachid=#{coachid} AND `status`=2)
    </select>
    <resultMap id="order" type="TrainingOrder">
        <id javaType="java.lang.String" jdbcType="VARCHAR" property="orderid" column="orderid"></id>
        <result javaType="java.lang.String" jdbcType="VARCHAR" property="locationid" column="locationid"></result>
        <result javaType="java.lang.Integer" jdbcType="INTEGER" property="status" column="status"></result>
    </resultMap>

    <!--查询学员当天是否预约-->
    <select id="queryForTodayExist" resultType="TrainingOrder">
          select
        `orderid`  from trainingorder   where
         `courseid`=#{courseid}
          and `date`=#{date} and `status`=#{status}
    </select>

    <!--查询某天某个时间段的预约状态-->
    <select id="queryForExist" parameterType="TrainingOrder" resultType="TrainingOrder">
          select `status`,`orderid`  from trainingorder
          where  courseid IN(SELECT courseid FROM course WHERE
        coachid=#{coachid} AND `status`=2) and `date`=#{date} and `begintime`=#{begintime}
    </select>

    <!--插入单条数据-->
    <insert id="insertTrainingOrderOne" parameterType="TrainingOrder">
        insert  into trainingorder
      ( `orderid`,
        `date`,
        `begintime`,
        `endtime`,
        `locationid`,
        `courseid`,
        `status`
        )values (
            #{orderid},
            #{date},
            #{begintime},
            #{endtime},
            #{locationid},
            #{courseid},
            #{status}
        )
    </insert>

    <update id="updateTrainingOrderOne" parameterType="TrainingOrder">
        update  trainingorder
        set `courseid` = #{courseid},
             `status`=#{status}
        where `orderid`=#{orderid}
    </update>
    <update id="updateTrainingOrderBatch">
         update  trainingorder
         <set>
             <if test="param.status!=null and param.status!=''">
                 `status`=#{param.status}
             </if>
         </set>
        where `orderid` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <insert id="insertTrainingOrderBatch">
        insert  into trainingorder (
        `orderid`,
        `date`,
        `begintime`,
        `endtime`,
        `locationid`,
        `courseid`,
        `status`
        )values
        <foreach collection="list" separator="," item="order">
            (
            #{order.orderid},
            #{order.date},
            #{order.begintime},
            #{order.endtime},
            #{order.locationid},
            #{order.courseid},
            #{order.status}
            )
        </foreach>
    </insert>

   <resultMap id="orderForCoach" type="TrainingOrder">
       <id property="orderid" column="orderid"></id>
       <result property="begintime" column="begintime"></result>
       <result property="endtime" column="endtime"></result>
       <association property="course" javaType="Course">
           <result property="subject" column="subject"></result>
           <result property="licensetype" column="licensetype"></result>
           <association property="student" javaType="Student">
               <result property="name" column="name"></result>
           </association>
       </association>
   </resultMap>

    <select id="queryOnedayForCoach" resultMap="orderForCoach">
        SELECT
         student.name,
         course.licensetype,
         course.subject,
         trainingorder.orderid,
         trainingorder.begintime,
         trainingorder.endtime
        FROM trainingorder trainingorder
        INNER JOIN course course ON trainingorder.courseid=course.courseid
        INNER JOIN student student ON student.studentid=course.studentid
        WHERE trainingorder.date=#{date} AND course.coachid=#{coachId}
        AND trainingorder.status=#{orderstatus} AND course.status=2
        order by trainingorder.begintime
    </select>
    <!--查询学员当天预约订单详细信息-->
    <select id="queryForTodaydetail" resultMap="ordermap">
        select
        trainingorder.orderid,
        trainingorder.date,
        trainingorder.begintime,
        trainingorder.endtime,
        trainingorder.status,
        coach.name,
        coach.coachcar,
        course.licensetype,
        course.coursetype,
        course.subject
        from trainingorder
        INNER JOIN course ON trainingorder.courseid=course.courseid
        INNER JOIN coach ON course.coachid=coach.coachid
        where
        course.studentid=#{studentid} and course.status=2
        and trainingorder.date=#{date} and trainingorder.status=#{status}
    </select>
    <!--查询学员历史订单数量-->
    <select id="queryForHistoryCount" resultType="java.lang.Integer">
       select count(*)  from
        trainingorder trainingorder
        where
        trainingorder.courseid in(select courseid from course where studentid=#{map.studentid})
        and trainingorder.date<![CDATA[ < ]]>#{map.date} and trainingorder.status =#{map.status}
    </select>
    <select id="queryHistoryOrder"  resultMap="ordermap" >
        select
        trainingorder.orderid,
        trainingorder.date,
        trainingorder.begintime,
        trainingorder.endtime,
        trainingorder.status,
        coach.name,
        course.coursetype,
        course.subject
        from trainingorder
        INNER JOIN course ON trainingorder.courseid=course.courseid
        INNER JOIN coach ON course.coachid=coach.coachid
        where
        course.studentid=#{map.studentid}
        and trainingorder.date<![CDATA[ < ]]>#{map.date} and trainingorder.status =#{map.status}
        ORDER BY `date` DESC
        limit #{map.currIndex} , #{map.pageSize}
    </select>
    <resultMap id="ordermap" type="TrainingOrder">
        <id  property="orderid" column="orderid"></id>
        <result property="date" column="date"></result>
        <result property="begintime" column="begintime"></result>
        <result property="endtime" column="endtime"></result>
        <result property="status" column="status"></result>
        <association property="course" javaType="Course">
            <result property="licensetype" column="licensetype"></result>
            <result property="coursetype" column="coursetype"></result>
            <result property="subject" column="subject"></result>
            <association property="coach" javaType="Coach">
                <result property="name" column="name"></result>
                <result property="coachcar" column="coachcar"></result>
            </association>
        </association>

    </resultMap>




</mapper>