<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.dao.UserMapper">
    <insert id="insertUser" parameterType="User">
        insert  into  users(
         `userid`,
         `username`,
         `password`,
         `identity`
        )
        values(
        #{userId},
        #{userName},
        #{passWord},
        #{identity}
        )
    </insert>
    <update id="updateByUserId"  parameterType="User">
        update  users
        set `enable`=#{enable},`identity`=#{identity}, `password`= #{passWord}
        where  `userid`=#{userId}
    </update>

    <select id="queryUserForLogin" resultType="User">
        select
         `userid`,
         `username`,
         `password`,
         `identity`
         from users
        where
         `enable`=0 and username=#{username} and password=#{password}
    </select>

    <select id="isExsitUserName"  resultType="User">
        select
         `userid`,
         `identity`,
         `enable`
         from users
         where
         username=#{username}
    </select>
    <update id="enablebyUserId">
        update users set `enable`= #{enable}
        where   userid in
        <foreach collection="list" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </update>
</mapper>